
@{
    ViewBag.Title = "Index";
}

<h1>WELCOME TO LONGHORN BANK</h1>
<a class="btn btn-primary" href="/Account/Login">Login</a>
<a class="btn btn-success" href="/Account/Register">Register For Customer Account</a>
<a class="btn btn-danger" href="/Account/Register">Register For Customer Account</a>
<p>
    Current Products Include:
    Insert Promos for Longhorn Bank
</p>
